# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
tmp/*
.idea/*
sites/default/files/styles/*

# Ignore gulp files.
node_modules