.btn{
	border-radius: 0;
	padding: 14px 12px;
	line-height: 1;
	text-transform: uppercase;
	font-family: $font-robcond;
	font-weight: bold;
	height: 45px;
	&-default {
	  	color: white;
	  	background-color: $primary;
	  	border-color: $primary;
		&:focus,
		&.focus {
		  color: white;
		  background-color: $primary;
		  border-color: $primary;
		}
		&:hover {
		  color: white !important;
		  background-color: $dark-primary;
		  border-color: $dark-primary;
		}
	}
	&-outline{
	  	color: white;
	  	background-color: transparent;
	  	border-color: white;
	  	&:hover{
	  		color: $primary;
		  	background-color: white;
		  	border-color: white;
	  	}
	}
	&-danger {
  color: #fff;
  background-color: #E80000;
  border-color: #E80000;
	&:focus,
	&.focus {
	  color: #fff;
	  background-color: #c9302c;
	  border-color: #761c19;
	}
	&:hover {
	  color: #fff;
	  background-color: #c9302c;
	  border-color: #ac2925;
	}
}
}
